<div class="container">
    <div class="jumbotron">
        <h1>Home</h1>
        <p>Welcome to Fraunhofer OPC UA Test Page</p>
        <p> You can see the result of Semantic Web Service</p>
    </div>
</div>
<div class="container">
<div class="row">
    <div class="col-lg-6">
        <div>
            <p>The following users are authenticated from secure api end point:</p>
            <ul>
                <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
                <p>We need to put here the result</p>
                <p> If you want to log out click here </p>
            </ul>
            <ul>
                <p>
                    <button class="red"><a class="red" [routerLink]="['/login']">Logout</a></button>

                </p>

            </ul>

        </div>
    </div>

    <div class="col-lg-6">
        <h1>OPC UA Results will be displayed under a different link </h1>
        <p>This page uses JWT Authentication which is a similar way of OAuth Authentication</p>
        <p>To be continued </p>
        <p>
            <button class="red"><a class="red" [routerLink]="['/opcua']">OPCUA Info Page</a></button>
        </p>

    </div>

   </div>
</div>